@import "../../css/vars.scss";
// @import "./mixins";

.card-template {
	min-width: 20vw !important;
	transition: ease-in-out 0.2s;
	z-index: 9;
	&:hover {
		z-index: 10;
		transform: scale(1.05);
	}
}

.card-body {
	background-color: black !important;
	h5 {
		color: white !important;
	}
}

.card-text {
	display: flex !important;
	flex-direction: column !important;
}

.card-wrapper {
	margin: 0 $posterMargins;
	font: "poppins";
}
