.card-template {
	min-width: 20vw !important;
	transition: ease-in-out 0.2s;
	z-index: 9;
}
.card-template:hover {
	z-index: 10;
	transform: scale(1.05);
}
.card-body {
	background-color: black !important;
}
.card-body h5 {
	color: white !important;
}
.card-text {
	display: flex !important;
	flex-direction: column !important;
}
.card-wrapper {
	margin: 0 posterMargins;
	font: "poppins";
}
