.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.contactBackGround {
	background: rgb(45, 193, 253);
	background: linear-gradient(
		0deg,
		rgba(45, 193, 253, 1) 0%,
		rgba(38, 128, 199, 1) 9%,
		rgba(30, 63, 145, 1) 27%,
		rgba(2, 0, 10, 1) 100%
	);
}
